.employee-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.employee-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.employee-detail {
    text-align: center;
}

.employee-img {
    border-radius: 50px;
    width: 250px; 
    height: 250px; 
}

.employee-detail ul {
    list-style-type: none;
    padding: 0;
}

.employee-detail li {
    margin: 5px 0;
}
